<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-center pb-3 mb-4 border-bottom fixed-top">
    <img src="/assets/images/logo.png" class="mt-1 mx-3" style="max-height:60px;" alt="logo">
    
    <nav class="mt-2 mt-md-0 ms-md-auto" style="font-size:larger">
      <a class="me-4 py-2 text-dark text-decoration-none" href="#">Ana Sayfa</a>
      <a class="me-4 py-2 text-dark text-decoration-none" href="#">Ürünler</a>
      <a class="me-4 py-2 text-dark text-decoration-none" href="#">İletişim</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mx-2">Login</a>
        <a class="btn btn-outline-secondary mx-2">Sign Up</a>
    </div>
  </div> 