<div class="container">
  <div class="row">
    <section class="col-3">
      <ul class="list-group mb-3">
        <h5 class="text-success text-center mb-2">Markalar</h5>
        <li class="list-group-item active" aria-current="true">
          An active item
        </li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <ul class="list-group">
        <h5 class="text-success text-center mb-2">Modeller</h5>
        <li class="list-group-item active" aria-current="true">
          An active item
        </li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </section>
    <section class="col-9">
      <div
        class="
          d-flex
          flex-row-reverse
          bd-highlight
          justify-content-start
          align-items-center
          pb-2
        "
      >
        <button class="btn btn-primary my-2">Ara</button>
        <input
          class="form-control mx-2"
          style="width: 300px"
          placeholder="Aramak istediğiniz kelimeyi giriniz.."
          type="text"
        />
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-3 my-3" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </section>
  </div>
</div>
